
<div class="header-col-wrapper">

	<div id="mapbx" class="mapbox"></div>

	<script>

	mapboxgl.accessToken = '{{ site.token.mapbox }}';
	var mapbx = new mapboxgl.Map({
		container: 'mapbx',
		style: 'mapbox://styles/mapbox/streets-v9',
		center: [{{ site.mlatlng[1] }}, {{ site.mlatlng[0] }}],
		zoom: {{ site.zoom }},
		scrollZoom: false,
		attributionControl: true
		});

	var nav = new mapboxgl.Navigation({position: 'bottom-right'});
	mapbx.addControl(nav);

	var drive = new mapboxgl.Directions({
		position: 'top-right',
		unit: 'metric',
		controls: {
			inputs: true,
			instructions: false
		},
	});
	mapbx.addControl(drive);

	mapbx.on('load', function() {
		// drive.setOrigin([{{ site.mlatlng[1] }}, {{ site.mlatlng[0] }}]);
		// drive.setDestination([2.391801, 48.854942]);
	});

	var mly_pkey = '{{ site.mly_pkey}}';
	var mapiClientId = '{{ site.token.mapillary }}';
	mapbx.on('style.load', function (e) {
		// console.log(e.style.sprite);
		var host = 'https://a.mapillary.com/v2/';
		var mlyreqim = 'im/';
		var mapyim = host + mlyreqim + mly_pkey + '/geojson?client_id=' + mapiClientId;
		$.get(mapyim, function (resp) {
			console.log(resp.features[0]);
			mapbx.setCenter([
				{{ site.mlatlng[1] }},
				{{ site.mlatlng[0] }}
			]);

			resp.features.forEach(function(marker) {
				var el = document.createElement('div');
				el.className = 'pkey-sbig';
				// el.style.WebkitTransform = 'rotate(' + marker.properties.ca + 'deg)';
				el.addEventListener('click', function() {

					var modal = document.getElementById('mapIllary');

					el.onclick = function() {
						modal.style.display = "block";
					}

					window.onclick = function(event) {
						if (event.target == modal) {
							modal.style.display = "none";
						}
					}

					// $("#mapIllary").modal()
					// function MapResize() {
					//	 mly.resize();
					// }
					// $("#mapIllary").on('shown.bs.modal', function () {
					//	 mly.resize();
					// });
				});

				new mapboxgl.Marker(el, {
					// rotate: marker.properties.ca,
					offset: [
						-26 / 2,
						-33 / 2
					]
				})
				.setLngLat([
					{{ site.mlatlng[1] }},
					{{ site.mlatlng[0] }}
				])
				.addTo(mapbx);
			});
		});
	});

	</script>


	<div class="modal" id="mapIllary" role="dialog">

		<div class="modal-content">
			<div id="mly"></div>
			<script>
			var mly = new Mapillary.Viewer(
				'mly',
				'{{ site.token.mapillary }}',
				'{{ site.mly_pkey }}',
				{
					"cover": true,
					"renderMode": Mapillary.RenderMode.Fill,
					"basePanoramaSize": Mapillary.ImageSize.Size640,
					"baseImageSize": Mapillary.ImageSize.Size640,
					"maxImageSize": Mapillary.ImageSize.Size640,
				}
			);
			</script>
		</div>

	</div>

</div>
