
/**
 * Site header
 */
.site-header {
	// border-top: 1px solid $text-color-l;
	padding: $spacing-unit 0;
}

.header-heading {
	margin-bottom: $spacing-unit / 2;
}
.lpfpfonts {
	font-family: $lab-font;
	font-size: 5em;
}
.alcenter {
	text-align: center;
	justify-content: center;
}
.fixsocial {
	padding-top: 2.5em;
	letter-spacing: .5em;
}

.header-col-wrapper {
	font-size: 1em;
	color: $text-color;
	margin-left: -$spacing-unit / 2;
	@extend %clearfix;
}

.header-col {
	float: left;
	margin-bottom: $spacing-unit / 2;
}

.header-col-1 {
	width: -webkit-calc(75% - (#{$spacing-unit} / 2));
	width:				 calc(75% - (#{$spacing-unit} / 2));
}

.header-col-2 {
	width: -webkit-calc(15% - (#{$spacing-unit} / 2));
	width:				 calc(15% - (#{$spacing-unit} / 2));
}

@include media-query($on-palm) {
	.header-col {
		float: none;
		width: -webkit-calc(100% - (#{$spacing-unit} / 2));
		width:				 calc(100% - (#{$spacing-unit} / 2));
	}
}


/**
 * Post content
 */
.post-content {
	margin-bottom: $spacing-unit;

	h2 {
		font-size: 32px;

		@include media-query($on-laptop) {
			font-size: 28px;
		}
	}

	h3 {
		font-size: 26px;

		@include media-query($on-laptop) {
			font-size: 22px;
		}
	}

	h4 {
		font-size: 20px;

		@include media-query($on-laptop) {
			font-size: 18px;
		}
	}
}
