/**
 * Site header
 */

.site-header {
	// border-top: 1px solid $text-color-l;
	background: linear-gradient($background_shade, $trans);
	padding: $spacing-unit 0;
}
.shade {
	background: linear-gradient($trans, $background_shade);
}

.statement {
	font-size: 2.2em;
	font-family: $font-pl;
	color: $background-color;
	text-align: center;
	// text-transform: uppercase;
	text-shadow:	0px 4px 3px rgba(0,0,0,0.4),
								0px 8px 13px rgba(0,0,0,0.1),
								0px 18px 23px rgba(0,0,0,0.1);

	@include media-query($on-palm) {
		font-size: 1.5em;
	}
}

.ads {
	@include row;
	margin: 1em;
}

.ads postheader {
	margin-top: 2.8em;
	margin-bottom: 1.5em;
	@include col(1, 2, $align: middle);
}

.sama {
	position: relative;
	color: #aaa;
	font-size: 1.3em;
}

input[type="email"] {
	display: block;
	margin: 0;
	width: 100%;
	background-color: $background-light;
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: none;
	-moz-border-radius: none;
	-ms-border-radius: none;
	-o-border-radius: none;
	border-radius: 5px;
}

input[type="email"]:focus {
	outline: none;
}

.sama input[type="email"] {
	width: 330px;
	// margin-top: .5em;
	padding: 10px;
	text-indent: 32px;
	border: solid 1px $background-cell;
	-webkit-transition: box-shadow 0.3s, border 0.3s;
	-moz-transition: box-shadow 0.3s, border 0.3s;
	-o-transition: box-shadow 0.3s, border 0.3s;
	transition: box-shadow 0.3s, border 0.3s;
}

.sama input[type="email"]:focus, .sama input[type="email"].focus {
	border: solid 1px $brand-color;
	-webkit-box-shadow: 0 0 5px 1px $brand-color-l;
	-moz-box-shadow: 0 0 5px 1px $brand-color-l;
	box-shadow: 0 0 5px 1px $brand-color-l;
}

.sama .fa-envelope-o {
	position: absolute;
	top: 10px;
	left: 10px;
}

.sama input[type="submit"] {
	position: absolute;
	background-color: $background-light;
	border: solid 1px $background-cell;
	border-radius: 5px;
	color: #aaa;
	font-family: "Open Sans", sans-serif;
	font-size: 17px;
	padding: 10px;
	top: 0;
	left: 332px;
}

.header-heading {
	margin-bottom: $spacing-unit / 2;
}

.lpfpfonts {
	font-family: $lab-font;
	font-size: 5em;
}

.alcenter {
	text-align: center;
	justify-content: center;
}

.fixsocial {
	padding-top: 2.5em;
	letter-spacing: .5em;
}

.header-col-wrapper {
	font-size: 1em;
	color: $text-color;
	margin-left: -$spacing-unit / 2;
	@extend %clearfix;
}

.header-col {
	float: left;
	margin-bottom: $spacing-unit / 2;
}

.header-col-1 {
	width: -webkit-calc(75% - (#{$spacing-unit} / 2));
	width:				 calc(75% - (#{$spacing-unit} / 2));
}

.header-col-2 {
	width: -webkit-calc(15% - (#{$spacing-unit} / 2));
	width:				 calc(15% - (#{$spacing-unit} / 2));
}

@include media-query($on-palm) {
	.header-col {
		float: none;
		width: -webkit-calc(100% - (#{$spacing-unit} / 2));
		width:				 calc(100% - (#{$spacing-unit} / 2));
	}
}


/**
 * Post content
 */
.post-content {
	margin-bottom: $spacing-unit;

	h1 {
		font-weight: bold;
		color: $hint;
		text-transform: uppercase;
		text-decoration: underline;

			@include media-query($on-palm) {
				font-size: 24px;
			}
	}

	h2 {
		font-size: 32px;

		@include media-query($on-palm) {
			font-size: 22px;
		}
	}

	h3 {
		font-size: 26px;

		@include media-query($on-palm) {
			font-size: 18px;
		}
	}

	h4 {
		font-size: 20px;

		@include media-query($on-palm) {
			font-size: 16px;
		}
	}
}

/*
 * AGECA
 */

.ageca-col-wrapper {
	font-size: 1em;
	color: $text-color;
	margin-top: 2em;
	margin-left: -$spacing-unit / 2;
	@extend %clearfix;
}

.ageca-col {
	float: left;
	margin-bottom: $spacing-unit / 2;
}

.ageca-col-1 {
	width: -webkit-calc(75% - (#{$spacing-unit} / 2));
	width:				 calc(75% - (#{$spacing-unit} / 2));
}

.ageca-col-2 {
	width: -webkit-calc(15% - (#{$spacing-unit} / 2));
	width:				 calc(15% - (#{$spacing-unit} / 2));
}

@include media-query($on-palm) {
	.ageca-col {
		float: none;
		width: -webkit-calc(100% - (#{$spacing-unit} / 2));
		width:				 calc(100% - (#{$spacing-unit} / 2));
	}
}

hr {
	display: block;
	margin-top: 2em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2em;
	border: 0;
	width: 75%;
	height: 1px;
	background-image: linear-gradient(to right, $trans, $brand-color, $trans);
}

.mapbox {
	height: 420px;
	width: 100%;
}

#mly {
	height: 420px;
	width: 100%;
}
/* Custome Sprites for mapping and mapillary */

.marker-red,
.marker-blue,
.pkey-sbig,
.pkey,
.pkey-a,
.pkey-hl,
.pkey-hls

{ display: inline-block;
	background: url('https://raw.githubusercontent.com/RobyRemzy/robyremzy.github.io/master/images/carto/sprites_mix.png') no-repeat;
	overflow: hidden;
	cursor: pointer;
	text-indent: -9999px;
	text-align: left; }

.marker-red { background-position: -1px -0px; width: 52px; height: 70px; }
.marker-blue { background-position: -1px -213px; width: 37px; height: 50px; }
.pkey-sbig { background-position: -1px -264px; width: 26px; height: 33px; }
.pkey { background-position: -28px -264px; width: 18px; height: 24px; }
.pkey-a { background-position: -28px -289px; width: 18px; height: 26px; }
.pkey-hl { background-position: -1px -71px; width: 52px; height: 70px; }
.pkey-hls { background-position: -1px -142px; width: 52px; height: 70px; }

.modal {
		display: none;
		position: fixed;
		z-index: 9999;
		padding-top: 3em;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		background-color: $background_shade;
}

.modal-content {
		background-color: $brand-color-l;
		margin: auto;
		padding: 10px;
		border: 2px solid $hint;
		border-radius: 5px;
		width: 80%;
}

.thefoot {
	padding-bottom: 1rem;
}

.puchline {
	font-size: .7em;
	letter-spacing: .4rem;
}

/*
 * MACHINES
 */

.machine-col-wrapper {
	font-size: 1em;
	color: $text-color;
	margin-top: 2em;
	margin-left: $spacing-unit / 2;
	@extend %clearfix;
}

.machine-col {
	float: left;
	margin-bottom: $spacing-unit / 2;
}

.machine-col-1 {
	width: -webkit-calc(33% - (#{$spacing-unit} / 2));
	width:				 calc(33% - (#{$spacing-unit} / 2));
}

@include media-query($on-palm) {
	.machine-col {
		float: none;
		width: -webkit-calc(100% - (#{$spacing-unit} / 2));
		width:				 calc(100% - (#{$spacing-unit} / 2));
	}
}

.machine-item {
	border: solid 1px $trans;
	border-radius: 5px;
	margin: 10px;
	padding-bottom: 20px;
}

.machine-item:hover {
	border: solid 1px $brand-color;
	border-radius: 5px;
	margin: 10px;
	padding-bottom: 20px;
	-webkit-box-shadow: 0 0 5px 1px $brand-color-l;
	-moz-box-shadow: 0 0 5px 1px $brand-color-l;
	box-shadow: 0 0 5px 1px $brand-color-l;
}

.machine-item-tag {
	text-transform: lowercase;

	span {
		background-color: $background-cell;
		border-radius: 3px;
		margin: 1px 4px;
		padding: .5px 8px;
		color: $text-bq;

		&:hover {
			background-color: darken($background-cell, 15%);
			cursor: default;
		}
	}
}

/*
 * ASSO
 */

.asso-col-wrapper {
	// font-size: 1em;
	color: $text-color;
	margin-top: 2em;
	margin-bottom: 2em;
	margin-left: $spacing-unit / 2;
	@extend %clearfix;
}

.asso-col {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: $spacing-unit / 2;
}

.asso-col-1 {
	width: -webkit-calc(25% - (#{$spacing-unit} / 2));
	width:				 calc(25% - (#{$spacing-unit} / 2));
}

.asso-col-2 {
	width: -webkit-calc(75% - (#{$spacing-unit} / 2));
	width:				 calc(75% - (#{$spacing-unit} / 2));
}

@include media-query($on-palm) {
	.asso-col {
		float: none;
		width: -webkit-calc(100% - (#{$spacing-unit} / 2));
		width:				 calc(100% - (#{$spacing-unit} / 2));
	}
}

.bignum {
	border-radius: 50%;
	behavior: url(PIE.htc);

	width: 42px;
	height: 42px;
// 	padding: 8px;

	background: $brand-color;
	border: 2px solid $brand-color;
	color: $brand-color-l;
	text-align: center;

	font: 32px Arial, sans-serif;
	text-shadow:	0px 4px 3px rgba(0,0,0,0.4),
								0px 8px 13px rgba(0,0,0,0.1),
								0px 18px 23px rgba(0,0,0,0.1);
}
