/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
	margin: 0;
	padding: 0;
}

/**
 * Basic styling
 */
body {
	font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
	color: $text-color;
	background-color: $background-color;
	background-image: url('../../assets/img/background.png');
	-webkit-text-size-adjust: 100%;
	-webkit-font-feature-settings: "kern" 1;
		 -moz-font-feature-settings: "kern" 1;
			 -o-font-feature-settings: "kern" 1;
					font-feature-settings: "kern" 1;
	font-kerning: normal;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
	margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
	max-width: 100%;
	vertical-align: middle;
}
/**
 * Figures
 */
figure > img {
	display: block;
	border-radius: 0;
}

figcaption {
	display: block;
	font-family: $font-mono;
	font-size: 1em;
	color: $text-color-l;
	margin-top: .1em;
	margin-bottom: 1.2em;
}



/*
 * Markdown plus
 */
img[alt$=">"] {
	margin-top: 3em;
	margin-bottom: 3em;
	float:right;
}

img[alt$="<"] {
	margin-top: 3em;
	margin-bottom: 3em;
	float:left;
}

img[alt$="<>"] {
	display: block;
	max-width: 100%;
	height: auto;
	margin-top: 3em;
	margin-bottom: 3em;
	margin-left: auto;
	margin-right: auto;
	float: none!important;
}


/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
	font-weight: $base-font-weight;
}



/**
 * Links
 */
a {
	color: $brand-color;
	text-decoration: none;

	&:visited {
		color: $brand-color;
	}

	&:hover {
		color: $brand-color-l;
		text-decoration: none;
	}
}



/**
 * Blockquotes
 */
blockquote {
	color: $text-bq;
	border-left: 4px solid $hint;
	padding-left: $spacing-unit / 2;
	font-size: 1.2em;
	font-style: italic;

	> :last-child {
		margin-bottom: 0;
	}
}



/**
 * Code formatting
 */
code {
	padding: 1px 5px;
	color: $hint;
}



/**
 * Lists
 */
	dt {
	float: left;
	width: 180px;
	overflow: hidden;
	clear: left;
	text-align: right;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: bold;
	margin-bottom: .5rem;
	}

	dd {
	margin-left: 200px;
	margin-top: .5rem;
	margin-bottom: .5rem;
	}

ul, ol {
	padding-left: 3em;
}

li {
	> ul,
	> ol {
		margin-bottom: 1em;
	}
}



table {
	margin-bottom: 1rem;
	width: 100%;
	border: 1px solid $text-color-l;
	border-collapse: collapse;
	font-family: $font-mono;
}

td,
th {
	padding: .25rem .5rem;
	border: 1px solid $text-color-l;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: $background-cell;
}

/**
 * Icons
 */
.icon > svg {
	display: inline-block;
	vertical-align: middle;

	path {
		fill: $text-bq;
	}
}

.emoji {
	display: inline-block;
	margin: 0;
	max-width: none;
}
